body{
    background-color: lightgreen;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
#task{
    color: brown;
}
#score{
    text-align: left;
    font-family: 'Lucida Grande';
}
#timer{
    text-align: right;
    font-family: 'Lucida Grande';
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite; 
}
@keyframes example{
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}
p{
    padding-top: 10px;
    font-size: 25px;
}
#show_sketch{
    float: right;
}

